
.search-input-wrapper {
    position: relative;
    display: flex;
    background-color: #ebecf0;
    border-radius: 20px;
    align-items: center;
    padding-inline: 20px;
    width: 85%;
}

.search-input {
    outline: none;
    border: none;
    background-color: transparent;

    width: 100%;
    height: 40px;
}

.search-input-img {
    background-color: #119fcd;
    padding: 10px 20px;
    border-radius: 18%;
}

.search-input-img svg {
    color: white;
}

.s-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}